/* card.module.css */

/* card.module.css */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px; /* Reducir el espacio interno */
    margin-bottom: 20px;
    width: 200px; /* Definir un ancho fijo para la tarjeta */
    align-items: center; /* Centrar horizontalmente */
  }
  
  .card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 120px; /* Reducir la altura de la imagen */
    object-fit: cover; /* Hacer que la imagen mantenga su relación de aspecto */
  }
  
  .card h2 {
    font-size: 18px; /* Reducir el tamaño del título */
    margin-bottom: 5px; /* Reducir el espacio entre el título y el resto del contenido */
  }
  
  .card p {
    margin-bottom: 5px; /* Reducir el espacio entre los párrafos */
  }
  
  .card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el texto de name y surname */
.card h2 {
  color: white; /* Cambia el color del texto a blanco */
}

/* Estilos para el texto de scuderias */
.card p {
  color: white; /* Cambia el color del texto a blanco */
}


.button {
  /* Estilos para el botón */
  
  bottom: 6px; /* Espacio desde el borde inferior */
  left: 50%; /* Centrar horizontalmente */
  
  background-color: red; /* Color de fondo rojo */
  color: white; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px 10px; /* Espaciado interno */
  cursor: pointer; /* Cambiar cursor al pasar el mouse */
}

.button:hover {
  /* Estilos al pasar el mouse por encima */
  background-color: darkred; /* Cambiar color de fondo al pasar el mouse */
}