.background {
    background-color: rgb(255, 0, 0); /* Fallback color en caso de que la imagen no se cargue */
    background-image: url('../Formpage/foto-2-todo-lo-que-debes-saber-sobre-el-gran-premio-de-monaco-de-f1.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
    height: 100vh; /* Altura del 100% de la ventana visible */
    position: fixed; /* Fija la posición del elemento */
    top: 0; /* Coloca el elemento en la parte superior de la ventana */
    left: 0; /* Coloca el elemento en la parte izquierda de la ventana */
    right: 0; /* Coloca el elemento en la parte derecha de la ventana */
    bottom: 0; /* Coloca el elemento en la parte inferior de la ventana */
    z-index: -1; /* Asegura que el fondo esté detrás de otros elementos */
    overflow-y: auto;
}

.bottonHome {
   
    color: white; /* Color de texto blanco */
    font-family: Arial, Helvetica, sans-serif; /* Fuente */
    font-size: 2em; /* Tamaño de fuente grande */
    padding: 10px 20px; /* Padding para espacio alrededor del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Hace que el botón sea un bloque para centrar horizontalmente */
    margin-left: 9%; /* Empuja el botón hacia la derecha */
    /* Ajusta el margen derecho para controlar la posición */
}
.select22 {
    font-family: Arial, sans-serif; /* Cambia la fuente */
    font-size: 16px; /* Tamaño de fuente */
    padding: 8px 32px 8px 12px; /* Ajusta el relleno */
    border: 1px solid; /* Añade un borde */
    border-radius: 4px; /* Añade bordes redondeados */
    appearance: none; /* Oculta el estilo predeterminado del sistema */
    background-color: rgb(0, 0, 0); /* Cambia el color de fondo */
    color: #ffffff; /* Cambia el color del texto a blanco */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23ffffff"><path d="M10.293 14.293a1 1 0 0 1-.32.22 1 1 0 0 1-1.02-.12l-4-3.5a1 1 0 1 1 1.32-1.5L10 11.69l3.707-3.637a1 1 0 1 1 1.32 1.497l-4 3.5a1 1 0 0 1-.714.12z"/></svg>'); /* Agrega una flecha hacia abajo como fondo */
    background-position: right 12px center; /* Ajusta la posición de la flecha */
    background-repeat: no-repeat; /* Evita la repetición del fondo */
    background-size: 20px; /* Tamaño de la flecha */
   
    margin-top: 5px; /* Ajusta el margen superior para moverlo hacia abajo */
    margin-bottom: 5px; /* Ajusta el margen inferior para moverlo hacia arriba */
}

.cont22 {
    font-family: Arial, sans-serif; /* Cambia la fuente */
    font-size: 16px; /* Tamaño de fuente */
    padding: 4px; /* Ajusta el relleno */
    border: 1px solid; /* Añade un borde */
    border-radius: 4px; /* Añade bordes redondeados */
    width: 150px; /* Ancho del elemento */
    height: 100px; /* Altura del elemento */
    background-color: rgb(0, 0, 0); /* Cambia el color de fondo */
    color: #ffffff; /* Cambia el color del texto a blanco */
    margin-top: 5px; /* Ajusta el margen superior para moverlo hacia abajo */
    margin-bottom: 5px; /* Ajusta el margen inferior para moverlo hacia arriba */
    display: inline-block; /* Coloca los elementos en línea */
}

.form {
    display: flex;
    justify-content: center;

    width: 80%;
   
    
    height: 80%; /* Por ejemplo, aquí se reduce la altura al 70% */
    margin-left: 10%;
    margin-top: 5%;
    position: absolute;
    z-index: 2;
}


.title {
    color: white; /* Cambia el color del texto a blanco para que sea visible sobre el fondo negro */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /* Tamaño de fuente inicial */
    margin-bottom: 0%;
    margin-left: 20%;
    background-color: black;
    padding: 0px 12px 0px 12px; /* Tamaño del padding: arriba, derecha, abajo, izquierda */
    display: inline-block;
}

.cont{
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0px 5px 0px 12px; /* Tamaño del padding: arriba, derecha, abajo, izquierda */
    color:  rgb(255, 255, 255);
    background-color: black;
    
}



.fullcont{
    background-color: rgba(3, 1, 1, 0);
    width: 50%;
    
}

.label{
    text-align: right;
    margin-left: 5%;
    margin-right: 5%;    
    font-family: Arial, Helvetica, sans-serif;
}

.select{
    
    margin-top: 1%;
    margin-bottom: 1%;
}



.errors{    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    color: rgb(206, 24, 24);
    margin: auto;
}

.buttonx{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 1px;
    border-color: rgb(255, 251, 30);
    border-radius: 5px; 
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: white;    
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 40%;
}

.button{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 1px;
    border-color: white;
    border-radius: 5px; 
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: white;    
    margin-top: 3%;
    margin-right: 40%;
    margin-left: 40%;
}


.select {
    padding: 0px 40px 0px 10px;
    height: 80px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
    font-size: 15px;
    background-color:var(--bg-color);
    color: var(--text-color);

}

.input{
    width: 50%;
    
}


.buttonNew {
    color: rgb(255, 0, 0); /* Color de texto blanco */
    font-family: Arial, Helvetica, sans-serif; /* Fuente */
    font-size: 1em; /* Tamaño de fuente grande */
    padding: 10px 20px; /* Padding para espacio alrededor del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Hace que el botón sea un bloque para centrar horizontalmente */
    margin-left: 20%; /* Empuja el botón hacia la derecha */
    /* Ajusta el margen derecho para controlar la posición */
}
