/* .box {
    background-color: rgba(127, 255, 212, 0);
   
    display: flex;
    justify-content: end;   
    
  }

  .box select {
    border: 1px;
    border-color: rgb(3, 3, 3);
    border-style: solid;
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: 5px;
  } */